stages:
  - test
  - deploy
  - post

py27:
  image: python:2.7
  tags:
    - infradev
  except:
    - /^customer-.*$/
  script:
    - pip install -U --pre -i https://pypi.infinidat.com/simple -e .[testing]
    - pylint --rcfile .pylintrc -j $(nproc) infinisdk scripts tests
    - pytest -ra -W error::DeprecationWarning

py35:
  image: python:3.5
  tags:
    - infradev
  except:
    - /^customer-.*$/
  script:
    - pip install -U --pre -i https://pypi.infinidat.com/simple -e .[testing]
    - pylint --rcfile .pylintrc -j $(nproc) infinisdk scripts tests
    - pytest -ra -W error::DeprecationWarning

py36:
  image: python:3.6
  tags:
    - infradev
  except:
    - /^customer-.*$/
  script:
    - pip install -U --pre -i https://pypi.infinidat.com/simple -e .[testing]
    - pylint --rcfile .pylintrc -j $(nproc) infinisdk scripts tests
    - pytest -ra -W error::DeprecationWarning

py37:
  image: python:3.7
  tags:
    - infradev
  except:
    - /^customer-.*$/
  script:
    - pip install -U --pre -i https://pypi.infinidat.com/simple -e .[testing]
    - pylint --rcfile .pylintrc -j $(nproc) infinisdk scripts tests
    - pytest -ra -W error::DeprecationWarning

pypi:
  image: python
  tags:
    - infradev
  stage: deploy
  only:
    - master
    - tags
    - /^(dev|stable)-\d+(\.\d+)*$/
  script:
    - curl -sL http://goto/pypi_register | python - -v ./

trigger:
  image: python
  tags:
    - infradev
  stage: post
  only:
    - master
    - /^(dev|stable)-\d+(\.\d+)*$/
  script:
    - curl --request POST --form "token=$CI_JOB_TOKEN" --form "ref=$CI_COMMIT_REF_NAME" https://git.infinidat.com/api/v4/projects/222/trigger/pipeline
