[MESSAGES CONTROL]
disable=R,locally-disabled,invalid-name,wrong-import-order,wrong-import-position,ungrouped-imports,missing-docstring,redefined-outer-name,unneeded-not,property-on-old-class,superfluous-parens,consider-iterating-dictionary,len-as-condition,bad-option-value

[REPORTS]
reports=no

[TYPECHECK]
ignored-modules = flux.current_timeline,infi.dtypes.iqn,infi.dtypes.wwn,infi
ignored-classes = httplib,http.client,LookupDict

[FORMAT]
max-line-length=120
max-module-lines=1000

